// #Colours
$main-color: #f6a7ac; /* color de background*/
$secondary-color: #3a5b8d; /*color p*/
$dark-color: #12233e; /* azul oscuro*/
$light-color: #a6d7cf; /*celeste*/
$light-secondary-color: #e8bab3; /*rosa claro*/








// #Font
$default-font-family: 'Pacifico', cursive;
