// #Colours
$main-color: #f6a7ac; /* color de background*/
$secondary-color: #3a5b8d; /*color p*/
$dark-color: #12233e; /* azul oscuro*/
$light-color: #a6d7cf; /*celeste*/
$light-secondary-color: #e8bab3; /*rosa claro*/

$new-color:#ff66a1;
$orange-color: #f4a261;
$turquesa-color: #02e3c2;
$green-color: #2a8a78;

$default-font-family: 'Dosis', sans-serif;
$title-font-family: 'Pacifico', cursive;
